**/.gradle/
**/build/
**/bin/
**/run/
**/.idea/
**/.vscode/
**/__pycache__/
*.jar
*.class
*.log
*.zip
*.db
*.sqlite*
.env*
local.properties
/private/
/dependencies/
/server/
/world*/
/players/
/userdata/
*.jks
*.p12
*.pem
.DS_Store
